h2 {
    color: #555;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 5px 0;
    display: flex;
    align-items: center;
}

li:hover {
    cursor: pointer;
    text-decoration: underline;
}

.folder  .title {
    font-weight: bold;
}

.title {
    display: inline-block;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
}

.icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.folder-icon {
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24"><path d="M10 4H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V8c0-1.1-.9-2-2-2h-8l-2-2z"/></svg>');
}

.file-icon {
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="black"><path d="M6 2C4.89 2 4 2.9 4 4v16c0 1.1.89 2 2 2h12c1.1 0 2-.9 2-2V8l-6-6H6zm7 1.5L18.5 9H13V3.5zm-7 15V4h5v5h5v9H6z"/></svg>');
    color: #0073e6;
}